.app{
    background-color: darksalmon;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    display: inline-block;
    margin-left: 525px;
}
.app1{
    background-color: antiquewhite;
    text-align: center;
    margin: 5px;
}
.app2{
    background-color: darkgreen;
    text-align: center;
    margin: 5px;
}